*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
body{
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(32,32,47,1) 53%, rgba(25,52,57,1) 100%);
}


.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-family: 'Unbounded', cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
}


form{
    height: 500px;
    width: 500px;
    padding: 1rem;
    border-radius: 5px;
    background: rgb(30,70,65);
    background: linear-gradient(39deg, rgba(30,70,65,1) 0%, rgba(17,17,54,0.40940126050420167) 100%);
}
input[type="text"]{
    width: 100%;
    height: 50px;
    font-size: 3.5rem;
    font-family: 'Unbounded', cursive;
    text-align: right;
    border: none;
    border-radius: 5px;
    margin-top: 10px; 
    outline: none;
    background: transparent;
    color: white;
    padding-right: 5px;
}
.keypad{
    padding-top: 100px;
}
input[type="button"]{
    width: 20%;
    height: 50px;
    font-size: 2rem;
    font-family: 'Unbounded', cursive;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px; 
    cursor: pointer;
    margin: 5px 10px;
    outline: none;
}

input[type="submit"]{
    width: 40%;
    height: 50px;
    font-size: 2rem;
    font-family: 'Unbounded', cursive;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px; 
    outline: none;
    margin: 5px 10px;
    
}
input[type="button"]:hover{
    background: rgb(14, 14, 14);
    color: rgb(234, 234, 234);
    border: none;
    box-shadow: 0 12px 16px 0 rgba(80, 1, 1, 0.386), 0 17px 50px 0 rgba(98, 10, 96, 0.271);
}
input[type="submit"]:hover{
    background: rgb(14, 14, 14);
    color: rgb(234, 234, 234);
    border: none;
    box-shadow: 0 12px 16px 0 rgba(80, 1, 1, 0.287), 0 17px 50px 0 rgba(98, 10, 96, 0.19);
}

